on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install poetry
        run: |
          pipx install pdm
        shell: bash
      - uses: actions/setup-python@v4
        with:
          python-version: "3.9"
          architecture: "x64"
      - run: |
          pdm install
        shell: bash
      - run: pdm publish
        shell: bash
        env:
          PDM_PUBLISH_PASSWORD: ${{ secrets.PDM_PUBLISH_PASSWORD }}
          PDM_PUBLISH_USERNAME: ${{ secrets.PDM_PUBLISH_USERNAME }}